* {
	transition: color .5ms linear;
}

#svg {
	display: none;
}

body {
	font-family: 'Poppins', sans-serif;
	padding-right: 0 !important;
}

main {
	min-height: calc(100vh - 122px);
}

.text-sm {
	font-size: 0.8em;
}

.btn-outline-primary:hover {
	color: var(--bs-light);
}

/* HEADER  */
.header-logo {
	max-width: 50px;
	height: auto;
}

/* FOOTER  */
.footer-heart {
	fill: var(--bs-primary);
	height: 16px;
	width: 16px;
	position: relative;
	bottom: 2px;
}

/* MAIN  */
.main-section {
	width: 100%;
	min-width: 400px;
	max-width: 550px;
}

.cr-history-left {
    min-width: 124px;
}

.cr-history-right-circle {
	height: 20px;
	width: 20px;
	position: absolute;
	left: -11px;
	top: 0px;
}
.co-form-dimensi label {
	min-width: 102px;
}
.co-modal-logo {
	max-width: 150px;
	height: auto;
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
	padding-right: 10px;
}