* {
	transition: color .5ms linear;
}

#svg {
	display: none;
}

body {
	font-family: 'Poppins', sans-serif;
}

main {
	min-height: calc(100vh - 122px);
}

.btn-outline-primary:hover {
	color: var(--bs-light);
}

/* HEADER  */
.header-logo {
	max-width: 50px;
	height: auto;
}

/* FOOTER  */
.footer-heart {
	fill: var(--bs-primary);
	height: 16px;
	width: 16px;
	position: relative;
	bottom: 2px;
}

/* MAIN  */
.main-section {
	width: 100%;
	min-width: 300px;
	max-width: 500px;
}